.body {
  background-color: #eee;
  height: 100vh;
}
.form {
  width: 50%;
  padding: 30px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
}

.inputcont {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.input {
  width: 100%;
  margin: 7px;
  margin-right: 35px;
  margin-top: 15px;
  font-size: 90%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}

.submit {
  width: 20%;
  padding: 10px;
  margin: 0px auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #16a085;
  color: white;
  border: 1px solid transparent;
  margin-top: 28px;
  font-size: 90%;
  cursor: pointer;
}
.submit:hover {
  background-color: #0d8f75;
}
